<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<li th:if="${#httpServletRequest.remoteUser != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</li>
<body>
<h1>Add User</h1>
<form th:action="@{/admin/addUser}" method="post">
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName"><br><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"><br><br>
    <label for="username">username</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">password</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>