<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
</head>
<li th:if="${#httpServletRequest.remoteUser != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</li>
<body>
<h1>Update User</h1>
<form th:action="@{/admin/updateUser}" method="post">
    <input type="hidden" name="id" th:value="${user.getId()}"/>
    <p>UserID: <span th:text="${user.getId()}"></span></p>
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" th:value="${user.getFirstName()}"><br><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" th:value="${user.getLastName()}"><br><br>
    <label for="username">username</label><br>
    <input type="text" id="username" name="username" th:value="${user.getUsername()}"><br><br>
    <label for="lastName">password</label><br>
    <input type="password" id="password" name="password" th:value="${user.getPassword()}"><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>