<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
    <script type="text/javascript" src="/scripts.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <style>
        .sidebar {
            position: fixed;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-text font-weight-bold text-white" th:text="${email} "></span>
    <span class="navbar-text text-white">&nbsp; with roles:&nbsp;</span>
    <span class="navbar-text text-white" th:each="role, iter : ${roles}">
    <span th:text="${#strings.substringAfter(role.authority, 'ROLE_')}"></span>
    <span th:if="${not iter.last}">,&nbsp;</span>
</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-2">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <nav class="nav flex-column">
                    <a class="nav-link" href="/admin/">Admin</a>
                </nav>
            </div>
            <nav class="nav flex-column">
                <a class="nav-link active" href="#">User</a>
            </nav>
        </div>
        <div class="content col-md-10 offset-md-2">
            <h1>User information-page</h1>

            <!-- Users Table -->
            <div id="usersTable" class="mt-3">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4>All users</h4>
                    </div>
                    <table border="1" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var userId = /*[[${user.id}]]*/;
    getUser(userId);
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
